.nav-bar {
  background-color: none;
}
.menu {
  color: #ffa73b;
  font-size: 18px;
  margin-left: 8px;
}
.menu:hover {
  color: white;
  transition: 0.8s;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
